<!DOCTYPE html>
<html>
<head>
  <title>{{page_title}}</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  {% if next_img %}<link rel="prefetch" href="{{next_img}}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="photoweb.js"></script>
</head>
<body>
  <div class="detail-layout">
    <div class='info'>
      <h1>{{page_title}}</h1>
      <div class='nav'>
        <a href="index.html" id="up" accesskey="i">index</a>
        {% if prev %}<a href="{{prev}}" id="prev" accesskey="p">previous</a>{% endif %}
        {% if next %}<a href="{{next}}" id="next" accesskey="n">next</a>{% endif %}
      </div>
      <div class='picmd'>
        {% if title %}<h2>{{title}}</h2>{% endif %}
        {% if caption %}<p class="caption">{{caption}}</p>{% endif %}
      </div>
    </div>
    <div class="wrap">
        <div class='pic' data-w='{{w}}' data-h='{{h}}'>
          <img src='{{img_path}}' width='{{w}}' height='{{h}}' id="pic">
          <p class="num">{{num}}</p>
          <p class="date">{{date}}</p>
        </div>
    </div>
  </div>
</body>
</html>
