<!DOCTYPE html>
<html>
<head>
  <title>{{page_title}}</title>
  <link rel="stylesheet" href="/photo/lib/style.css" type="text/css">
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body>
  <div class='info'>
      <h1>{{page_title}}</h1>
      {% for desc in page_desc %}
        <p class="caption">{{desc.p}}</p>
      {% endfor %}
  </div>
  <table>
  {% for row in pic_rows %}
  <tr>
  {% for pic in row.pics %}
  <td>
  <div class='pic' id="{{pic.num}}">
    <a href="{{pic.detail_path}}">
        <img src='thumbnails/{{pic.img_path}}' width='{{pic.th_w}}' height='{{pic.th_h}}'>
    </a>
    <p class="small num">{{pic.num}}</p>
    {% if pic.title %}<h3>{{pic.title}}</h3>{% endif %}
  </div>
  </td>
  {% endfor %}
  </tr>
  {% endfor %}
  </table>
  <p class="navigation">
  	<a href="/personal/">about</a>
  	<a href="/blog/">blog</a>
  	<a href="/photo/">photos</a>
  	<a href="/" class='hilite'>home</a> 
  </p>
</body>
</html>